@boxBackgroundColor:lightgreen;

body{
    background: gray;
}

.box{
    composes: bigBox from './common.less';
    width: 200px;
    height: 200px;
    border-radius: 4px;
    background:@boxBackgroundColor;
    transform: translate(-50%,-50%);
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}